<!DOCTYPE html>
<html>
<head>
	<title>Angélina Cléret - Trends</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="./views/style.css">

	<style type="text/css">

		#trend-container {
			position: relative;
			width: 1024px;
			max-width: calc( 90vw - 30px );
			top: 20% ;
			left: 50%;
			margin-bottom: 5vw;
			transform: translate( -50% );
			text-align: center;
			background-color: white;
			padding: 50px 15px 50px 15px;
		}

		h2 {
			font-size: 2.5em;
		}

	</style>

</head>



<body>

	<div id="page-container">

		<div id="trend-container">
			
			<h2>Work In Progress</h2>

			<br><br>

			<p>Thank you for visiting my website. I'm trying my best to make it available as soon as possible. Come back in a few weeks !</p>

		</div>

	</div>

	<% include ./partials/nav.ejs %>

</body>

</html>