

@font-face {
	font-family: custom;
	src: url( '../assets/Metalia.ttf' );
}

@font-face {
	font-family: main-text;
	src: url( '../assets/Roboto-Regular.ttf' );
}



* {
	margin: 0;
	padding: 0;
	font-family: custom;
}

p {
	font-family: main-text;
}





body {
	background: -webkit-linear-gradient( 0.95turn, #e6e6e6, #ffffff );
	background: -moz-linear-gradient( 0.95turn, #e6e6e6, #ffffff );
	background: -o-linear-gradient( 0.95turn, #e6e6e6, #ffffff );
	background: -ms-linear-gradient( 0.95turn, #e6e6e6, #ffffff );
	background: linear-gradient( 0.95turn, #e6e6e6, #ffffff );
	background-repeat: no-repeat;
	background-attachment: fixed;
}










#navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 60px;
	width: 100vw;
	background-color: black;
}

	#mask {
		position: fixed;
		height: 100vh;
		width: 100vw;
		background-color: rgba( 0.5, 0.5, 0.5, 0.5 );
		display: none;
	}

	#nav-links {
		position: relative;
		width: calc( 100% - 40px );
		padding: 0px 20px 0px 20px;
		top: 10px;
		display: flex;
		justify-content: flex-end;
	}

	#menu-icon {
		position: fixed;
		height: 40px;
		top: 10px;
		right: 10px;
		display: none;
	}

	@media screen and ( max-width: 450px ) {

		#menu-icon {
			display: inherit;
		}

		#nav-links {
			position: fixed;
			width: auto;
			padding: 0px 20px 0px 20px;
			top: 60px;
			right: 0px;
			transform: none;
			flex-direction: column;
			justify-content: flex-end;
			transform: translateX( 100% );
			background-color: rgba( 0, 0, 0, 0.8 );
		}

		.nav-link-container {
			height: 60px;
		}

	}





	.show-menu {
		animation: show_menu 0.3s forwards ;
	}

	.hide-menu {
		animation: hide_menu 0.3s forwards ;
	}

	@keyframes show_menu {
		0% {
			transform: translateX( 100% );
		}
		100% {
			transform: translateX( 0% );
		}
	}

	@keyframes hide_menu {
		0% {
			transform: translateX( 0% );
		}
		100% {
			transform: translateX( 100% );
		}
	}

		

		#logo {
			position: fixed;
			height: 90px;
			margin-top: -15px;
			margin-left: 8px;
		}

		.nav-link-container {
			margin: 0px 20px 0px 20px;
		}

			.nav-link-container > a {
				display: inline-block;
				position: relative;
				color: white;
				text-decoration: inherit;
				font-size: 2.1em;
				top: 50%;
				transform: translateY( -50% );
			}

			.nav-link-container > a:hover {
				color: grey;
			}










#page-container {
	position: fixed;
	width: 100vw;
	height: calc( 100vh - 60px );
	margin-top: 60px;
	overflow-y: scroll;
}