

<nav id="navbar">
	
	<div id="nav-links">
		
		<div class="nav-link-container">
			<a href="/Blog">Blog</a>
		</div>

		<div class="nav-link-container">
			<a href="/Trends">Trends</a>
		</div>

		<div class="nav-link-container">
			<a href="/About me">About me</a>
		</div>

	</div>

</nav>


<a href="/">
	<img id="logo" src="assets/logo.png">
</a>